
/* 입력란 */

.x label.postcodify,
.xm label.postcodify { display: inline-block; position: relative; top: -3px; margin-left: 6px; color: #666; }

.x label.postcodify.postcode,
.xm label.postcodify.postcode { display: none; }

.x input.postcodify,
.xm input.postcodify { display: inline-block; width: 600px; margin-bottom: 8px !important; }

.x input.postcodify.postcode,
.xm input.postcodify.postcode { width: 206px; }

.x button.postcodify_search_button,
.xm button.postcodify_search_button { position: relative; top: -3px; padding: 0px 12px !important; }

div.postcodify_hidden_fields { display: none; }
