
/* 입력란 */

.x label.postcodify, .xm label.postcodify { display: inline-block; position: relative; top: -3px; margin-left: 6px; color: #666; }
.x label.postcodify.postcode, .xm label.postcodify.postcode { display: none; }
.x input.postcodify, .xm input.postcodify { display: inline-block; width: 600px; margin-bottom: 8px !important; }
.x input.postcodify.postcode, .xm input.postcodify.postcode { width: 206px; }
.x button.postcodify, .xm button.postcodify { position: relative; top: -3px; padding: 0px 14px !important; }

/* 페이지 */

body.postcodify { margin: 16px; }

/* 페이지 제목 */

#postcodify_title { text-align: center; font: bold 20px/150% NanumGothic, sans-serif; margin: 16px; padding: 0; }

/* 검색 기능이 표시되는 <div> */

#postcodify {
    clear: both; width: 620px; margin: 0 auto 16px auto; padding: 0;
    font: 13px/160% NanumGothic, sans-serif;
}
#postcodify div.postcode_search_controls { height: 29px; margin-bottom: 16px; }
#postcodify div.postcode_search_controls .keyword {
    width: 546px; padding: 6px; float: left; font-family: inherit;
    background: #fbfbfb; border: 1px solid #ccc;
}
#postcodify div.postcode_search_controls .search_button {
    font-size: 13px; width: 60px; border: 0; padding: 6px 10px; float: right; font-family: inherit;
    background: #444; color: #fff;
}

/* 검색 결과 스타일 */

div.postcode_search_result {
    clear: both; position: relative; width: 100%; padding: 4px 0px; margin-left: 0px; word-break: keep-all;
}
div.postcode_search_result:hover { background: #fbfbfb; }
div.postcode_search_result:hover div.address a.selector { font-weight: bold; }
div.postcode_search_result div.code6 { position: absolute; left: 6px; top: 4px; color: #449; }
div.postcode_search_result div.code5 { display: none; }
div.postcode_search_result div.address { clear: both; margin-left: 66px; margin-right: 50px; position: relative; cursor: pointer; }
div.postcode_search_result div.address a.selector { text-decoration: none; cursor: pointer; }
div.postcode_search_result div.address a.selector span.address_info { color: #000; display: inline-block; margin-right: 8px; }
div.postcode_search_result div.address a.selector span.extra_info { color: #444; display: inline-block; }
div.postcode_search_result div.address a.show_old_addresses { position: absolute; right: -16px; top: 0; color: #888; font-size: 11px; text-decoration: none; }
div.postcode_search_result div.address a.show_old_addresses:hover { color: #44f; }
div.postcode_search_result div.old_addresses { clear: both; color: #888; margin: 4px 0 0 66px; cursor: pointer; }
div.postcode_search_result div.map_link { position: absolute; right: 6px; top: 4px; }
div.postcode_search_result div.map_link a { color: #444; font-size: 11px; text-decoration: none; }
div.postcode_search_result div.map_link a:hover { color: #44f; text-decoration: underline; }

/* 검색 상태 및 오류 메시지 스타일 */

div.postcode_search_status.empty,
div.postcode_search_status.error,
div.postcode_search_status.quota,
div.postcode_search_status.too_many { border: 1px solid #ccc; background: #fbfbfb;
    padding: 16px; text-align: center; color: #f44;
}
div.postcode_search_status.too_many { margin-bottom: 12px; }

div.postcode_search_status.too_short { text-align: center; color: #666; padding: 32px 0; }
div.postcode_search_status.summary { display: none; }

/* 검색 도움말 */

#entry_box { display: none; }

#search_guide {
    width: 586px; padding: 16px 16px; margin: 0 auto 16px auto;
    background: #fbfbfb; border: 1px solid #ccc;
    font: 13px/170% NanumGothic, sans-serif; color: #000;
}
#search_guide hr { border: 0; height: 6px; margin: 0; padding: 0; }
